# global
**/.env
.decrypted*
deploy/metrics_state

# gitops
gitops/adguardhome/workdir/
gitops/adguardhome/confdir/
gitops/healthchecks.io/healthchecks/
gitops/speedtest-tracker/web/
gitops/speedtest-tracker/config/
gitops/uptime-kuma/data
gitops/cloudflared-tunnel/cloudflared/cert.pem
gitops/cloudflared-tunnel/cloudflared/*.json
gitops/adguardhome-sync/config/*
gitops/adguardhome/pihole2/Archive/
gitops/ara/.ara/
gitops/semaphore/config.json
gitops/nutalert/config.yaml
gitops/proxmox-exporter/pve.yml
gitops/paperless-ngx-exporter/config/auth-token.txt
gitops/snmp-exporter/snmp.yml
gitops/scrutiny-web/scrutiny.yaml
gitops/scrutiny-web/config/
gitops/manyfold/libraries/

# gitops-archive
gitops-archive/netdata/hp-laptop-ubuntu/netdataconfig/*
!/gitops-archive/netdata/hp-laptop-ubuntu/netdataconfig/health.d/
!/gitops-archive/netdata/hp-laptop-ubuntu/netdataconfig/health.d/linux_power_supply.conf
