**/.env
.decrypted*
deploy/metrics_state

gitops/adguardhome/workdir/
gitops/adguardhome/confdir/
gitops/healthchecks.io/healthchecks/
gitops-archive/netdata/hp-laptop-ubuntu/netdataconfig/*
!/gitops-archive/netdata/hp-laptop-ubuntu/netdataconfig/health.d/
!/gitops-archive/netdata/hp-laptop-ubuntu/netdataconfig/health.d/linux_power_supply.conf
gitops/speedtest-tracker/web/
gitops/speedtest-tracker/config/
gitops/uptime-kuma/data
gitops/cloudflared-tunnel/cloudflared/cert.pem
gitops/cloudflared-tunnel/cloudflared/*.json
gitops/adguardhome-sync/config/*
gitops/adguardhome/pihole2/Archive/
gitops/ara/.ara/
gitops/semaphore/config.json
