.env
.decrypted*

Dashboards/dashy/item-icons/
Monitoring/Templates/zabbix/server/env_vars/*
AdGuard.yaml
DNS/Active/adguardhome/hp-laptop-ubuntu/workdir/
DNS/Active/adguardhome/hp-laptop-ubuntu/confdir/
# dynamic.yaml
Monitoring/healthchecks.io/healthchecks/
Podman/systemd/Archive/
Podman/systemd/container*

/Monitoring/Active/netdata/hp-laptop-ubuntu/netdataconfig/*
!/Monitoring/Active/netdata/hp-laptop-ubuntu/netdataconfig/health.d/
!/Monitoring/Active/netdata/hp-laptop-ubuntu/netdataconfig/health.d/linux_power_supply.conf

