[Unit]
Description=Podman GitOps Deploy Agent

[Service]
Type=oneshot
ExecStart=%h/DEV/homelab/podman-apps/deploy/deploy-agent.sh
WorkingDirectory=%h/DEV/homelab/podman-apps
# optional, to make sure PATH includes sops/podman/etc
Environment=PATH=%h/.local/bin:/usr/local/bin:/usr/bin:/bin
Environment=SOPS_AGE_KEY_FILE=%h/.sops/age-master-key.txt

[Install]
WantedBy=default.target
